$contrastColor:#f26002;
$white: white;
$black: black;
$lightColor: #eff9ff;
$neutralColor:#8ccbea;
$mediumColor:#0271bc;
$darkColor: #304268;
$mainFont: "Roboto", sans-serif;
$secondaryFont: "Roboto Slab", serif;