.footer{
    position: relative;
    padding: 65px 15px 36px;
    background-color: $darkColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    @media all and (width > 768px){
        padding: 50px 39px 40px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
    }
    @media all and (width > 1200px){
        padding: 50px 370px 40px;
        
    }

    &__arrow{
        background-color: $white;
        width: 45px;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        
        &--icon{
            position: relative;
            transition: hue-rotate 0.5s,
            transform 1s;
            &:hover{
                filter: hue-rotate(190deg);
                transform: translateY(-40%);
            }
        }
    }

    &__links{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media all and (width > 768px){
            align-items: flex-start;;
        }
        
        &--content{
            list-style: none;
            text-align: center;
            @media all and (width > 768px){
                text-align: left;
            }
            & .item {
                text-decoration: none;
                font-family: $mainFont;
                font-size: 1.6rem;
                line-height: 3rem;
                text-transform: uppercase;
                color: $white;
                &:hover{
                    color: $contrastColor;
                }
                
            }
        } 
        
        &--rrss{
            list-style: none;
            text-align: center;
            @media all and (width > 768px){
                text-align: left;
            }
            & .item {
                text-decoration: none;
                font-family: $mainFont;
                font-size: 1.6rem;
                line-height: 3rem;
                text-transform: uppercase;
                color: $white;
                &:hover{
                    color: $contrastColor;
                }
            }
        }        
    }

    &__copyright{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media all and (width > 768px){
            order: -1;
            align-items: flex-start;
        }

        &--item{
            color: $white;
            font-size: 1.4rem;
            line-height: 3rem;
            font-family: $mainFont;
            & .fa-sharp{
                color: $contrastColor;
            }
        }
    }
}