.header{
    position: sticky;
    z-index: 100;
    left: 0;
    top: 0;
    &__menu{
        background-color: $mediumColor;
        width: 3.71rem;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: $contrastColor;
        }

        &--burger{
            width: 40%;
        }

        @media all and (width > 768px){
            width: 4.4rem;
        }
        
    }

}