.hero{
    min-height: 100vh;
    width: 100vw;
    background-image: url("/images/cover.jpg");
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 34.1px;


    &__title{
        font-family: $secondaryFont;
        color: $white;
        font-size: 4.2rem;
        line-height: 5.5rem;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 20px;
        &::first-line {
            word-spacing: 100vw;
          }
          transform: translate(0px, -100px);
          opacity: 0;
          animation: item-slide 1.5s forwards;
          @keyframes item-slide {
              0% {
  
              }
              100% {
                  opacity: 1;
                  transform: translate( 0px, 0px);
              }
          }

        @media all and (width > 768px){
            font-size: 8rem;
            line-height: 10.6rem;
        }
        @media all and (width > 1200px){
            font-size: 10rem;
            line-height: 13.2rem;
            padding-bottom: 0;
        }
    }
    &__subtitle{
        color: $white;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.9rem;
        transform: rotate(-0.23deg);
        padding-bottom: 35px;
        transform: translate(0px, -150px);
          opacity: 0;
          animation: item-slide 1.75s forwards;
          @keyframes item-slide {
              0% {
  
              }
              100% {
                  opacity: 1;
                  transform: translate( 0px, 0px);
              }
          }
        @media all and (width > 768px){
            font-size: 2.4rem;
            line-height: 2.8rem;
            width: 340px;
            padding-bottom: 10px;
        }
        @media all and (width > 1200px){
            width: 100%;
            padding-bottom: 34px;
        }
        
    }
    &__image{
        background-color: $white;
        width: 3.79rem;
        aspect-ratio: 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media all and (width > 768px){
            width: 4.5rem;
        }

        transform: translate(0px, -200px);
          opacity: 0;
          animation: item-slide 2s forwards;
          @keyframes item-slide {
              0% {
  
              }
              100% {
                  opacity: 1;
                  transform: translate( 0px, 0px);
              }
          }
        
        &--icon{
            transform: translateY(20%);
            transition: hue-rotate 0.5s,
            transform 0.5s;
            &:hover{
                filter: hue-rotate(190deg);
                transform: translateY(100%);
            }
            
        }
    } 
}