.window{
    padding: 61.9px 15px 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media all and (width > 768px){
        padding: 37px 39px 60px;
    }
    @media all and (width > 1200px){
        padding: 65px 275px 60px;
    }

    &__cathegory{
        font-family: $mainFont;
        font-size: 1.4rem;
        line-height: 2.14;
        color: $neutralColor;
        @media all and (width > 768px){
            line-height: 3rem;
        }
        @media all and (width > 1200px){
            font-size: 1.6rem;
        }
    }

    &__title{
        font-family: $secondaryFont;
        font-size: 2.4rem;
        line-height: 3rem;
        padding-bottom: 20px;
        @media all and (width > 768px){
            font-size: 2.6rem;
            line-height: 4.5rem;
            padding-bottom: 2.7rem;
        }
        @media all and (width > 1200px){
            font-size: 3.2rem;
            padding-bottom: 32px;
        }
    }

    &__text{
        font-family: $mainFont;
        font-size: 1.8rem;
        line-height: 3rem;
        padding-bottom: 26px;
        @media all and (width > 768px){
            font-size: 2rem;
            padding-bottom: 27px;
        }
    }

    &__button{
        text-decoration: none;
        font-family: $mainFont;
        font-size: 2rem;
        color: $contrastColor;
        border: 2px solid $contrastColor;
        border-radius: 22.5px;
        height: 4.5rem;
        width: 7.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in-out;
        &:hover{
            transform: translateX(30px) scale(1.3);
            width: 4.5rem;
            border: 2px solid $mediumColor;
            color: $mediumColor; 
        }
        &:active{
            border: 2px solid $neutralColor;
            color: $neutralColor; 
        }
        @media all and (width > 768px){
            width: 9.1rem;
        }
        @media all and (width > 1200px){
            width: 16rem;
        }

    }
}