<section class="purchase" id="purchase">
    <h2 class="purchase__title">3 Reasons to Purchase</h2>
    <article class="purchase__reason">
        <load src="/partials/reason.html" 
        titleReason="Ud sed metus"
        textReason="Lorem ipsum dolor sit amet consectetur."/>
    </article>
    <article class="purchase__reason">
        <load src="/partials/reason.html" 
        titleReason="Curabitur ac erat"
        textReason="Mauris mattis urna quis lorem molestie"/>
    </article>
    <article class="purchase__reason">
        <load src="/partials/reason.html" 
        titleReason="Morbi dictum"
        textReason="Aliquam in dolor et dolor tincidunt"/>
    </article>
    <a href="#" class="purchase__button">More reasons</a>
</section>